<h1> Rating Index </h1> 
<% @ratings.each do |rating| %> <br>
Title: <%= rating.book.title %> 
<br> 
Rating: 
<%= rating.number %>  
<br>
Additional Comment:  <%= rating.comment %> <br>
<% end %> 
<br>
<%= link_to("Create Rating", new_rating_path) %>