<h1> Ratings Show Page </h1>
Book Title: <%= @rating.book.title %>
<br>
Rating: <%= @rating.number %> <br>
Comment: <%= @rating.comment %> <br>


<%= link_to("Edit Existing Rating", edit_rating_path(@rating)) %>